body {
  font-family: 'Roboto', sans-serif !important;
  background: #cfd8dc;
  color: #ffffff;
}

.app-title {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Liu Jian Mao Cao', cursive !important; */
  font-family: 'Lobster', cursive !important;
}

.github-link {
  color: white;
  text-decoration: none;
}

.content-space-top {
  margin-top: 120px;
}

.card-mt-30 {
  margin-top: 30px !important;
}

.pb-1 {
  padding-bottom: 10px;
}

.pt-1 {
  padding-top: 10px;
}

.hidden {
  display: none !important;
}